/* GLOBAL  */

.sc-bg-blue{
  background-color: #2C3D50;
}

.sc-bg-green{
  background-color: #31BC9C;
}

.sc-py-50{
  padding: 50px 0;
}

.sc-container-60{
  width: 60%;
  margin: 0 auto;
}

.bold{
  font-weight: bolder;
}

.sc-btn{
  border: 1px solid white;  
  padding: 5px 15px;
  border-radius: 5px;
  transition: all 1s;
  margin-top: 20px;
  cursor: pointer;
}

.sc-btn:hover{
 background-color: white;
 color: #2C3D50;
}


/* HEADER  */

header{
  height: 80px;
  color: white;
}

header .menu-large ul{
  text-decoration: none;
  padding-top: 10px;
}

header .menu-large ul li{
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
}

header .menu-large ul li a{
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.menu-small i{
  color: gray;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  transition: all 1s;
  cursor: pointer;
}

.menu-small:hover i{
  color: white;
  border: 1px solid white;
}

/* JUMBOTRON  */

.sc-jumbotrone{
  margin-top: 80px;
}
.sc-inner-jumbo{
  width: 800px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.sc-inner-jumbo img{
  width: 40%;
}


.sc-box{
  margin: 10px;
  position: relative;
}

.sc-box .overlay{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 225, 255,.5);
  z-index: 999;
  border-radius: 20px;
  display: none;
  transition: all 2s;
  color: white;
  font-size: 100px;
}
.sc-box .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sc-box:hover .overlay{
  display: block;
}

.sc-box img{
  width: 100%;
  border-radius: 20px;
}

/* ABOUT  */

.about{
  color:white;
}

/* FORM  */

form{
  padding-top: 30px;
}

.dt-custom-border{
  border: none;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}

.dt-bg-green{
  background-color: #1ABC9C;
  border-color: #1ABC9C;
  cursor: pointer;
}

/* FOOTER  */

.sc-footer-top{
  color: white;
  background-color: #39546D;
}

.sc-footer-bottom {
  padding: 30px 0;
  color: white;
  text-align: center;
} 



footer span i {
  border: 1px solid white;
  height: 40px;
  width: 40px;
  padding-top: 10px;
  border-radius: 50%;
  cursor: pointer;
}

footer p span {
  color: #1ABC9C;
  cursor: pointer;
}

